[Unit]
Description=ARGIA SolarEdge telemetry 3,23,43 min 06-20h MX
[Timer]
OnCalendar=*-*-* 06..20:03,23,43:00 America/Mexico_City
Persistent=false
[Install]
WantedBy=timers.target
